<footer class="page-footer footer-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                Test Information
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase font-weight-bold">Kontakt</h6>
                <hr>
                <p>
                    <i class="fa fa-envelope"></i> contact@bartlomiejstepien.pl
                </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center">
        &#169; 2019 SecretChat
    </div>
</footer>
