<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zaloguj</title>

    <link rel="stylesheet" media="all" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a href="/">
        <h2 class="left navbar-text">
            SecretChat
        </h2>
    </a>
    <ul>
        <li>
            <a href="/login">Zaloguj</a>
        </li>
        <li>
            <a href="/register">Zarejestruj</a>
        </li>
    </ul>
</nav>

</body>
</html>