<div class="container text-center sigin-page">
        <form id="loginForm" class="form-signin">
            <h3 class="h3 mb-3 font-weight-normal">Zaloguj Się</h3>
            <div class="form-group">
                <label class="col-form-label" for="login">Login</label>
                <input name="login" class="form-control" id="login" placeholder="Wprowadź nazwę użytkownika lub email" required>
            </div>
            <div class="form-group">
                <label class="col-form-label" for="password">Hasło</label>
                <input name="password" class="form-control" id="password" type="password" placeholder="Wprowadź hasło" required>
            </div>
            <div class="form-group">
                <button id="loginButton" type="submit" class="btn btn-outline-primary btn-block">Zaloguj</button>
            </div>
        </form>
</div>

<div id="modalMessage" tabindex="-1" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Błąd!</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="float: right;">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="modalBodyMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#loginForm").submit(function (event) {
            event.preventDefault();

            login();
        });

        $("#modalMessage").on("hidden.bs.modal", function () {
            $("#modalBodyMessage").text("");
        })
    });

    function login() {
        $("#loader").addClass("loader");
        console.log("Logging in...");
        let login = $("#login").val();
        let password = $("#password").val();

        let json = {};
        json["login"] = login;
        json["password"] = password;

        setTimeout(function () {
            console.log(json);
            $.ajax({
                type: "POST",
                url: "/login",
                contentType: "application/json",
                cache: false,
                // dataType: "text/plain;charset=UTF-8",
                data: JSON.stringify(json),
                success: function (data, status, jqXHR) {
                    console.log("success!");
                    console.log(JSON.stringify(data));
                    $("#loader").removeClass("loader");
                    window.location.href = "/";
                },
                error: function(data) {
                    console.log(data);
                    console.log("Could not log in!");
                    $("#login").val("");
                    $("#password").val("");
                    $("login").parent().addClass("has-error");
                    $("#password").parent().addClass("has-error");
                    $("#modalBodyMessage").text(data.responseText);
                    $("#loader").removeClass("loader");
                    $("#modalMessage").modal("show");
                }
            }).done(function (data) {
                console.log(data);
            });
        }, 1000);
    }
</script>
