<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<div class="container" style="min-height: 800px;">
    <div class="profile">
        <span id="edit-button" class="float-right"><i style="cursor: pointer;" class="fas fa-edit fa-lg"></i></span>
        <div>
            <div style="float: left;">
                <img style="width: 80px; height: 80px; display: inline-block;" th:src="${user.avatarPath}">
            </div>
            <div class="profile-content">
                <div style="display: block;">
                    <div style="display: inline-block"><span style="background-color: forestgreen; color: #ffffff; padding-left: 5px; padding-right: 5px;">Dostępny</span></div>
                    <div style="display: inline-block" th:text="'Rejestracja: ' + ${user.registrationDate}"></div>
                </div>
                <div style="width: auto; display: block">
                    <div style="display: inline-block; font-weight: bold;" th:text="${user.name}"></div>
                    <div style="display: inline-block" th:text="' | Płeć: ' + (${user.gender.name()} == 'MALE' ? 'Mężczyzna' : (${user.gender.name()} == 'UNDEFINED' ? '' : 'Kobieta'))"></div>
                    <div style="display: inline-block" th:text="'Wiek: ' + ${user.age}"></div>
                    <div style="display: inline-block" th:text="'Lokacja: ' + ${user.location}"></div>
                    <div style="display: inline-block">Budowa Ciała: </div>
                </div>
                <div style="width: auto; display:block;">
                    <div th:text="${user.description}"></div>
                </div>
            </div>
        </div>
        <hr>
        <div style="width: auto; display: table">
            <input placeholder="Wpisz nazwę utworu..."><span id="searchButton" class="input-addon"><i id="searchIcon" class="fas fa-search"></i><span id="searchButtonText"> Szukaj</span></span>
        </div>
    </div>
    <div class="chats-container">
        <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#chatTab" th:text="${user.name}"></a></li>
<!--                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#user2">0dsa_dsad_dasm0_DAS</a></li>-->
        </ul>
        <!--        <div class="chat-tab">-->
        <!--            <label class="chat-tab-label"></label>-->
        <!--        </div>-->
        <div class="tab-content">
            <div id="chatTab" class="tab-pane fade in active show">
                <div id="chatContent" class="chat-content"></div>
                <div class="chat-input">
                    <input id="messageInput" placeholder="Wprowadź tu swoją wiadomość">
                </div>
            </div>
<!--            <div id="user2" class="tab-pane fade">-->
<!--                <div class="chat-content"></div>-->
<!--                <div class="chat-input">-->
<!--                    <input placeholder="Wprowadź tu swoją wiadomość">-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>

    <div id="chatTabPaneTemplate" hidden="true">
        <div class="chat-content"></div>
        <div class="chat-input">
            <input placeholder="Wprowadź tu swoją wiadomość">
        </div>
    </div>

    <li id="tab-nav-template" hidden="true" class="nav-item"><a class="nav-link active" data-toggle="tab" href=""></a></li>

    <div class="chat-tab-template" hidden>
        <label class="chat-tab-label"></label>
    </div>

    <p id="messageTemplate" hidden>
        <span class="message-time font-weight-bold"></span>
        <span class="message-author font-weight-bold"></span>
        <span class="message-body"></span>
    </p>
</div>

<div hidden="true">
    <input id="userName" th:value="${user.name}">
    <input id="userId" th:value="${user.id}">
</div>

<script th:inline="javascript">
    /*<![CDATA[*/

    var webSocketUrl = /*[[${webSocketUrl}]]*/ 'webSocketUrl';

    /*]]>*/

    console.log(webSocketUrl);

    var chatSocket = undefined;

    $(document).ready(function () {
        console.log("Registering event...");
        $("#edit-button").on("click", function () {
            $("#loader").addClass("loader");
            $("#modalBodyMessage").text("Strona edycji profilu nie jest jeszcze dostępna.");
            $("#loader").removeClass("loader");
            $("#modalMessage").modal("show");
        });

        $("#searchButton").on("click", function () {
            console.log("search click!");
            $("#searchButtonText").text("");
            $("#searchIcon").removeClass();
            $("#searchIcon").addClass("fas fa-circle-notch fa-spin");

            //Replace this timeout with function that searches for a youtube video
            setTimeout(function () {
                $("#searchButtonText").text(" Szukaj");
                $("#searchIcon").removeClass();
                $("#searchIcon").addClass("fas fa-search");
                console.log("BOOM");
            }, 2000)
        });

        $("#messageInput").keydown(function (event) {
            if (event.key === "Enter" || event.code === "Enter") {
                messageInput();
            }
        });
    });

    function formatDate(date) {
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        return day + '-' + month + '-' + year;
    }
    
    function formatTime(date) {
        let hours = date.getHours();
        let minutes = date.getMinutes();

        let hoursAsString = hours.toString();
        let minutesAsString = minutes.toString();

        if (hoursAsString.length === 1) {
            hoursAsString = "0" + hoursAsString;
        }

        if (minutesAsString.length === 1) {
            minutesAsString = "0" + minutesAsString;
        }

        return hoursAsString + ":" + minutesAsString;
    }
    
    function messageInput() {
        console.log("Sending message...");
        if (chatSocket === undefined) {
            //Start WebSocket and send information who is sending message to this user...

            console.log("Setting up server...");
            console.log("ChatSocket = " + chatSocket);
            //Create socket
            console.log(webSocketUrl);
            chatSocket = new WebSocket(webSocketUrl); //Change ip to secretchat.bartlomiejstepien.pl
            console.log(chatSocket);

            chatSocket.onmessage = function (event) {
                console.log(event.data);
                let receivedData = JSON.parse(event.data);

                if (receivedData["type"] !== undefined && receivedData["type"] === "message" && receivedData["message"] !== undefined) {
                    console.log("Preparing incoming message...");
                    let messageTemplate = $("#messageTemplate").clone();
                    messageTemplate.find(".message-time").text(formatTime(new Date())); //Time should be sent from the server
                    messageTemplate.find(".message-author").text(receivedData["from"] + ": ");
                    messageTemplate.find(".message-body").text(receivedData["message"]);
                    messageTemplate.attr("hidden", false); //TODO: Remove this...
                    $("#chatContent").append(messageTemplate);
                }
            };

            chatSocket.onopen = function (event) {
                let json = {};
                json["from"] = "";
                json["to"] = $("#userName").val();
                json["type"] = "handshake";
                console.log(json);
                chatSocket.send(JSON.stringify(json));
                // chatSocket.send("Here's some text that the server is urgently awaiting!");
            };
        }
        
        if (chatSocket.readyState === chatSocket.OPEN) {
            let json = {};
            json["from"] = "";
            json["to"] = $("#userName").val();
            json["type"] = "message";
            json["message"] = $("#messageInput").val();
            chatSocket.send(JSON.stringify(json));

            //Add message to the chatbox...

            let messageTemplate = $("#messageTemplate").clone();
            messageTemplate.find(".message-time").text(formatTime(new Date()))
            messageTemplate.find(".message-author").text("Ty: ");
            messageTemplate.find(".message-body").text($("#messageInput").val());
            messageTemplate.attr("hidden", false);
            $("#chatContent").append(messageTemplate);
            //Clear message input field
            $("#messageInput").val("");
        }
    }
</script>

</html>