    <div class="container text-center sigin-page">
        <form id="loginForm" class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">Zarejestruj Się</h1>
            <div class="form-group">
                <label class="col-form-label" for="username">Nazwa użytkownika</label>
                <input class="form-control" id="username" placeholder="Wprowadź nazwę użytkownika" required>
            </div>
            <div class="form-group">
                <label class="col-form-label" for="email">E-mail</label>
                <input class="form-control" id="email" type="email" placeholder="Wprowadź adres e-mail" required>
            </div>
            <div class="form-group">
                <label class="col-form-label" for="password">Hasło</label>
                <input class="form-control" id="password" type="password" placeholder="Wprowadź hasło" required>
            </div>
            <div class="form-group">
                <label class="col-form-label" for="repeatedPassword">Powtórz hasło</label>
                <input class="form-control" id="repeatedPassword" type="password" aria-hidden="true" placeholder="Powtórz hasło" required>
            </div>
            <div class="form-group">
                <button class="btn btn-outline-primary btn-block" type="button" id="register">Zarejestruj</button>
            </div>
        </form>
    </div>

    <div id="modalMessage" tabindex="-1" class="modal fade" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Błąd!</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="float: right;">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="modalBodyMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

<script>
   $("#register").on("click", function () {
     postUser();
   });

    function postUser() {
        console.log("Registering...");
        let username = $("#username").val();
        let password = $("#password").val();
        let repeatedPassword = $("#repeatedPassword").val();
        let email = $("#email").val();

        // let cookies = window.cookie;
        // console.log(cookies);

        // window.cookie = "username=Nerdi; expires=Fri, 3 Aug 2019 20:47:11 UTC; path=/";
        // console.log(window.cookie);
        // window.cookie = "username=Nerdi; token=2213841273";
        // console.log(window.cookie);

        //TODO: Add method for checking input fields...

        let json = {};
        json["username"] = username;
        json["password"] = password;
        json["repeatedPassword"] = repeatedPassword;
        json["email"] = email;

        console.log(json);

        $.ajax({
            type: "POST",
            url: "/register",
            contentType: "application/json",
            data: JSON.stringify(json),
            success: function(data) {
                console.log("success!");
                // console.log(JSON.stringify(data));
                $("#loginForm").html("<h1>Rejestracja przebiegła pomyślnie!</h1>")
            },
            error: function(data) {
                console.log("error!");
                console.log(data);
                if(data.responseText === "406 This email is already in use!")
                {
                    $("#email").val("");
                    $("#email").parent().addClass("has-error");
                }
                // if(data.responseText === "400 Email Address is not in correct format.")
                // {
                //     $("#email").val("");
                //     $("#email").parent().addClass("has-error");
                // }
                // if(data.responseText === "412 Passwords are not the same!")
                // {
                //     $("#password").parent().addClass("has-error");
                //     $("#repeatedPassword").parent().addClass("has-error");
                // }
                //
                // $("#messageModal").find("#modal-content").text = data.responseText;
                // $("#messageModal").modal("show");
            }
        });
    }
</script>