    <div class="container text-center sigin-page">
        <form id="loginForm" class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">Zarejestruj Się</h1>
            <div class="form-group">
                <label class="col-form-label" for="username">Nazwa użytkownika</label>
                <input class="form-control" id="username" placeholder="Wprowadź nazwę użytkownika" required>
            </div>
            <div class="form-group">
                <label class="col-form-label" for="email">E-mail</label>
                <input class="form-control" id="email" type="email" placeholder="Wprowadź adres e-mail" required>
            </div>
            <div class="form-group">
                <label class="col-form-label" for="password">Hasło</label>
                <input class="form-control" id="password" type="password" placeholder="Wprowadź hasło" required>
            </div>
            <div class="form-group">
                <label class="col-form-label" for="repeatedPassword">Powtórz hasło</label>
                <input class="form-control" id="repeatedPassword" type="password" aria-hidden="true" placeholder="Powtórz hasło" required>
            </div>
            <div class="form-group">
                <button class="btn btn-outline-primary btn-block" type="submit" id="register">Zarejestruj</button>
            </div>
        </form>
    </div>
<script>
    $(document).ready(function () {
        $("#loginForm").submit(function (event) {
            event.preventDefault();

            postUser();
        });

        $("#modalMessage").on("hidden.bs.modal", function () {
            $("#modalBodyMessage").text("");
        })
    });

    function postUser() {
        $("#loader").addClass("loader");
        console.log("Registering...");
        let username = $("#username").val();
        let password = $("#password").val();
        let repeatedPassword = $("#repeatedPassword").val();
        let email = $("#email").val();

        //TODO: Add method for checking input fields...

        let json = {};
        json["username"] = username;
        json["password"] = password;
        json["repeatedPassword"] = repeatedPassword;
        json["email"] = email;

        console.log(json);

        $.ajax({
            type: "POST",
            url: "/register",
            contentType: "application/json",
            data: JSON.stringify(json),
            success: function(data) {
                console.log("success!");
                // console.log(JSON.stringify(data));
                $("#loginForm").html("<h1>Rejestracja przebiegła pomyślnie!</h1>")
            },
            error: function(data) {
                console.log("error!");
                console.log(data);

                $("#username").val("");
                $("#password").val("");
                $("#repeatedPassword").val("");
                $("#email").val("");
                $("#username").parent().addClass("has-error");
                $("#password").parent().addClass("has-error");
                $("#repeatedPassword").parent().addClass("has-error");
                $("#email").parent().addClass("has-error");
                $("#modalBodyMessage").text(data.responseText);
                $("#loader").removeClass("loader");
                $("#modalMessage").modal("show");

                // if(data.responseText === "406 This email is already in use!")
                // {
                //     $("#email").val("");
                //     $("#email").parent().addClass("has-error");
                // }
                // if(data.responseText === "400 Email Address is not in correct format.")
                // {
                //     $("#email").val("");
                //     $("#email").parent().addClass("has-error");
                // }
                // if(data.responseText === "412 Passwords are not the same!")
                // {
                //     $("#password").parent().addClass("has-error");
                //     $("#repeatedPassword").parent().addClass("has-error");
                // }
                //
                // $("#messageModal").find("#modal-content").text = data.responseText;
                // $("#messageModal").modal("show");
            }
        });
    }
</script>